{{!-- some header --}}


{{!-- list of available workers --}}
{{#each workers}}
    <div class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/200/300/?blur">
                    <span id="worker-name" class="card-title"></span>
                    <a href="mailto:{{this.email}}?Subject=For Hire" class="btn-floating halfway-fab waves-effect waves-light green" title="Send {{this.name}} a message!">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
                <div class="card-content">
                    <p id="skill">Name: {{this.name}} </p>
                    <p id="skill">Service: {{this.service}} </p>
                    <p id="zipcode">Zipcode: {{this.zip_code}} </p>
                    <p id="phone">Phone: {{this.phone}}</p>
                    <p id="email">Email: {{this.email}}</p>
                </div>
            </div>
        </div>
    </div>
{{/each}}



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<link type="text/style" src="/assets/css/style.css"></script>









