<h1>Workers</h1>

<ul>
    {{#each workers}}
        <p>name: {{name}}</p>  
        <p>zip_code: {{zip_code}}</p> 
        <p>email: {{email}}</p> 
        <p>phone: {{phone}}</p> 
        <p>service: {{service}}</p> 
     {{/each}}
</ul>


{{!-- 
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <template>
                    <v-expansion-panel>
                        <v-expansion-panel-content v-for="(item,i)" :key="i">
                            <div slot="header">Name Place Holder</div>
                            <v-card>
                                <v-card-text class="grey lighten-3">
                                    <img src="assets/images/worker.jpeg" alt="For Hire Logo" height="200"> Text Place holder

                                    <div class="text-xs-center">
                                        <v-btn outline color="indigo">Hire Me</v-btn>

                                    </div>

                                </v-card-text>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </template>

            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({ el: '#app' })
</script> --}}